body {
  font-family: 'Lato';
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  font-family: 'Montserrat';
}

.calendar{
  -top: 110px;
  margin-left: 130px;
}
hr.star-light,
hr.star-dark {
  max-width: 15rem;
  : 0;
  text-align: center;
  border: none;
  border-top: solid 0.25rem;
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
}

hr.star-light:after,
hr.star-dark:after {
  position: relative;
  top: -.8em;
  display: inline-block;
  : 0 0.25em;
  content: '\f005';
  font-family: FontAwesome;
  font-size: 2em;
}

hr.star-light {
  border-color: #fff;
}

hr.star-light:after {
  color: #fff;
  background-color: #ba9ae0;
}

hr.star-dark {
  border-color: #373738;
}

hr.star-dark:after {
  color: #373738;
  background-color: white;
}

section {
  : 6rem 0;
}

.how-to-join-section {
  : 2rem 0 6rem;
}

.how-to-join-img {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.-section {
  : 3rem;
}

.how-to-join-section img {
  -right: 40px;
}

section h2 {
  font-size: 2.25rem;
  line-height: 2rem;
}

@media (min-width: 992px) {
  section h2 {
    font-size: 3rem;
    line-height: 2.5rem;
  }
}
section.masthead {
  -top: calc(6rem + 72px);
  -bottom: 6rem;
}

section.data {
  : 10px;
}

section.data h2 {
  font-size: 2.25rem;
  line-height: 2rem;
}

@media (min-width: 992px) {
  section.data h2 {
    font-size: 3rem;
    line-height: 2.5rem;
  }
}

.btn-xl {
  : 1rem 1.75rem;
  font-size: 1.25rem;
}

.btn-social {
  width: 3.25rem;
  height: 3.25rem;
  font-size: 1.25rem;
  line-height: 2rem;
}

.scroll-to-top {
  z-index: 1042;
  right: 1rem;
  bottom: 1rem;
  display: none;
}

.scroll-to-top a {
  width: 3.5rem;
  height: 3.5rem;
  background-color: rgba(33, 37, 41, 0.5);
  line-height: 3.1rem;
}

.how-to-join-text {
  font-size: 1.5rem;
}

.size{
  width: 500px;
  margin: auto;
}

.carousel-item{
  position: center !important;
}

.carousel-control-next,
.carousel-control-prev {
  filter: invert(100%);
}

.carousel .carousel-indicators li {
  background-color: #fff;
  background-color: rgba(70, 70, 70, 0.25);
}

.carousel .carousel-indicators .active {
  background-color: #ba9ae0;
}

#mainNav {
  -top: 1rem;
  -bottom: 1rem;
  font-weight: 700;
  font-family: 'Montserrat';
}

#mainNav .navbar-brand {
  color: #fff;
}

#mainNav .navbar-nav {
  margin-top: 1rem;
  letter-spacing: 0.0625rem;
}

#mainNav .navbar-nav li.nav-item a.nav-link {
  color: #fff;
}

#mainNav .navbar-nav li.nav-item a.nav-link:hover {
  color: #ba9ae0;
}

#mainNav .navbar-nav li.nav-item a.nav-link:active, #mainNav .navbar-nav li.nav-item a.nav-link:focus {
  color: #fff;
}

#mainNav .navbar-nav li.nav-item a.nav-link.active {
  color: #ba9ae0;
}

#mainNav .navbar-toggler {
  font-size: 80%;
  : 0.8rem;
}

@media (min-width: 992px) {
  #mainNav {
    -top: 1.5rem;
    -bottom: 1.5rem;
    -webkit-transition: -top 0.3s, -bottom 0.3s;
    -moz-transition: -top 0.3s, -bottom 0.3s;
    transition: -top 0.3s, -bottom 0.3s;
  }
  #mainNav .navbar-brand {
    font-size: 2em;
    -webkit-transition: font-size 0.3s;
    -moz-transition: font-size 0.3s;
    transition: font-size 0.3s;
  }
  #mainNav .navbar-nav {
    margin-top: 0;
  }
  #mainNav .navbar-nav > li.nav-item > a.nav-link.active {
    color: #fff;
    background: #ba9ae0;
  }
  #mainNav .navbar-nav > li.nav-item > a.nav-link.active:active, #mainNav .navbar-nav > li.nav-item > a.nav-link.active:focus, #mainNav .navbar-nav > li.nav-item > a.nav-link.active:hover {
    color: #fff;
    background: #ba9ae0;
  }
  #mainNav.navbar-shrink {
    -top: 0.5rem;
    -bottom: 0.5rem;
  }
  #mainNav.navbar-shrink .navbar-brand {
    font-size: 1.5em;
  }
}

header.masthead {
  -top: calc(6rem + 72px);
  -bottom: 6rem;
}

header.masthead.data {
  -bottom: 1rem;
}

header.masthead h1 {
  font-size: 3rem;
  line-height: 3rem;
}

header.masthead h2 {
  font-size: 1.3rem;
  font-family: 'Lato';
}

@media (min-width: 992px) {
  header.masthead {
    -top: calc(6rem + 106px);
    -bottom: 6rem;
  }
  header.masthead h1 {
    font-size: 3em;
    line-height: 3rem;
  }
  header.masthead h2 {
    font-size: 1.75em;
  }
}

.collision-bubbles {
  margin: 10px;
}

.collision-bubbles-item {
  flex-direction: row;
  justify-content: center;
}

.collision-bubbles-description {
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.portfolio {
  margin-bottom: -15px;
}

.portfolio .portfolio-item {
  position: relative;
  display: block;
  max-width: 25rem;
  margin-bottom: 15px;
}

.portfolio .portfolio-item .portfolio-item-caption {
  -webkit-transition: all ease 0.5s;
  -moz-transition: all ease 0.5s;
  transition: all ease 0.5s;
  opacity: 0;
  background-color: rgba(187, 151, 229, .9);
}

.portfolio .portfolio-item .portfolio-item-caption:hover {
  opacity: 1;
}

.portfolio .portfolio-item .portfolio-item-caption .portfolio-item-caption-content {
  font-size: 1.5rem;
}

@media (min-width: 576px) {
  .portfolio {
    margin-bottom: -30px;
  }
  .portfolio .portfolio-item {
    margin-bottom: 30px;
  }
}

.portfolio-modal .portfolio-modal-dialog {
  : 3rem 1rem;
  min-height: calc(100vh - 2rem);
  margin: 1rem calc(1rem - 8px);
  position: relative;
  z-index: 2;
  -moz-box-shadow: 0 0 3rem 1rem rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 0 3rem 1rem rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 3rem 1rem rgba(0, 0, 0, 0.5);
}

.portfolio-modal .portfolio-modal-dialog .close-button {
  position: absolute;
  top: 2rem;
  right: 2rem;
}

.portfolio-modal .portfolio-modal-dialog .close-button i {
  line-height: 38px;
}

.portfolio-modal .portfolio-modal-dialog h2 {
  font-size: 2rem;
}

@media (min-width: 768px) {
  .portfolio-modal .portfolio-modal-dialog {
    min-height: 100vh;
    : 5rem;
    margin: 3rem calc(3rem - 8px);
  }
  .portfolio-modal .portfolio-modal-dialog h2 {
    font-size: 3rem;
  }
}

.floating-label-form-group {
  position: relative;
  border-bottom: 1px solid #e9ecef;
}

.floating-label-form-group input,
.floating-label-form-group textarea {
  font-size: 1.5em;
  position: relative;
  z-index: 1;
  -right: 0;
  -left: 0;
  resize: none;
  border: none;
  border-radius: 0;
  background: none;
  box-shadow: none !important;
}

.floating-label-form-group label {
  font-size: 0.85em;
  line-height: 1.764705882em;
  position: relative;
  z-index: 0;
  top: 2em;
  display: block;
  margin: 0;
  -webkit-transition: top 0.3s ease, opacity 0.3s ease;
  -moz-transition: top 0.3s ease, opacity 0.3s ease;
  -ms-transition: top 0.3s ease, opacity 0.3s ease;
  transition: top 0.3s ease, opacity 0.3s ease;
  vertical-align: middle;
  vertical-align: baseline;
  opacity: 0;
}

.floating-label-form-group:not(:first-child) {
  -left: 14px;
  border-left: 1px solid #e9ecef;
}

.floating-label-form-group-with-value label {
  top: 0;
  opacity: 1;
}

.floating-label-form-group-with-focus label {
  color: #ba9ae0;
}

form .row:first-child .floating-label-form-group {
  border-top: 1px solid #e9ecef;
}

.footer {
  -top: 5rem;
  -bottom: 5rem;
  background-color: #373738;
  color: #fff;
}

.copyright {
  background-color: #232323;
}

a {
  color: #ba9ae0;
}
a.teal-background-link {
  color: #fff;
  text-decoration: underline;
}

a:focus, a:hover, a:active {
  color: #373738;
}

.btn {
  border-width: 2px;
}

.bg-primary {
  background-color: #ba9ae0 !important;
}

.bg-secondary {
  background-color: #373738 !important;
}

.text-primary {
  color: #ba9ae0 !important;
}

.text-secondary {
  color: #373738 !important;
}

.btn-primary {
  background-color: #ba9ae0;
  border-color: #ba9ae0;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
  background-color: #373738;
  border-color: #373738;
}

.btn-secondary {
  background-color: #373738;
  border-color: #373738;
}

.btn-tertiary {
  background-color: #fff;
  border-color: #fff;
}

.btn-secondary:hover, .btn-secondary:focus, .btn-secondary:active {
  background-color: #373738;
  border-color: #373738;
}
.subheader {
    margin-bottom: 2rem;
}

.subheader-text {
  : 10px;
}
.subheader-border {
    margin-bottom: 2rem;
    border-bottom: 1px solid #373738;
}

.event-square {
  background-color: #373738;
  flex: 1;
}

.event-square-text-container {
  justify-content: center;
  align-items: center;
  margin: 40px 15px;
  color: #fff;
}

.fixed-box {
  height: 300px;
  width: 200px;
}

.center-list {
  justify-content: center;
}

.d3-caption {
  font-size: 1em;
  : 20px;
}

.data-header {
  margin-bottom: 30px;
}

.portfolio .events-all-item {
  position: relative;
  display: block;
  max-width: 25rem;
  margin-bottom: 15px;
}

.portfolio .events-all-item .events-all-item-caption {
  -webkit-transition: all ease 0.5s;
  -moz-transition: all ease 0.5s;
  transition: all ease 0.5s;
  opacity: 0;
  background-color: rgba(187, 151, 229, .9);
}

.portfolio .events-all-item .events-all-item-caption:hover {
  opacity: 1;
}

.portfolio .events-all-item .events-all-item-caption .events-all-item-caption-content {
  font-size: 1.5rem;
}

@media (min-width: 576px) {
  .portfolio {
    margin-bottom: -30px;
  }
  .portfolio .events-all-item {
    margin-bottom: 30px;
  }
}

.event-link {
  color: #fff;
}

.event-name {
  font-size: 2rem;
  color: #373738;
}
